// Fontes
$fontPrincipal: 'Roboto', sans-serif;

// Esquema de cores
$corDeFundo: #f5f6fa;
$corPrincipal: #182C61;
$corSecundaria: #fff;
$corTerciaria: #44bd32;
$corTercHover: #4cd137;

// Breakpoints
$tablet: 1023px;
$mobile: 767px;